body {
  margin: 0;
  padding: 0;
  font-family: 'BenchNine',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

li {
  list-style: none;

}

.navbar-collapse>ul>li>a {
  font-size: 22px;
  color: #737373;
  text-transform: uppercase;
  transition: all .7s ease 0s;
  -webkit-transition: all .7s ease 0s;
  -moz-transition: all .7s ease 0s;
  -o-transition: all .7s ease 0s;
  -ms-transition: all .7s ease 0s;
  padding: 14px 15px;
  /* font-weight: bold; */
}

.slide {
  margin:0;
  padding:0;
}

#about {
  background-color: rgb(212, 212, 204);
}





.appointment-btn a:hover {
  background: #4267b2;
  color: #ffffff !important;
  border-radius: 50px;
}

